In [1]:
import pandas as pd
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
#Request 1

In [2]:
air_data_grouped = air_data.groupby('sensor.name')
air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm', 'max'),
                                                    min = ('pm2.5_atm', 'min'),
                                                    mean = ('pm2.5_atm', 'mean'),
                                                    median = ('pm2.5_atm', 'median'))
print('Statistics for highest mean PM 2.5 Values')
top5_mean_pm25 = (
    air_data_pm25.sort_values(by = 'mean', ascending = False) #sort_values by any specified column
)

top5_mean_pm25.head(5)

Statistics for highest mean PM 2.5 Values

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
NCDHD O'Neill #11,2078.873729,0.136958,164.495078,7.251208
Swnphd-mccook,3053.114292,0.020000,123.011622,4.582281

In [3]:
print('Statistics for highest median PM 2.5 Values')
top5_median_pm25 = (
    air_data_pm25.sort_values(by = 'median', ascending = False) #sort_values by any specified column
)

top5_median_pm25.head(5)

Statistics for highest median PM 2.5 Values

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
ELVPHD Norfolk HD 4,79.972917,0.307896,13.369492,9.706229
ELVPHD Wisner HD 5,51.984812,0.154271,11.154420,8.464583

In [4]:
air_data_grouped2 = air_data.groupby('sensor.name')
air_data_voc = air_data_grouped2.agg(max = ('voc', 'max'),
                                                    min = ('voc', 'min'),
                                                    mean = ('voc', 'mean'),
                                                    median = ('voc', 'median'))
print('Statistics for highest mean VOC Values')
top5_mean_voc = (
    air_data_voc.sort_values(by = 'mean', ascending = False) #sort_values by any specified column
)

top5_mean_voc.head(5)

Statistics for highest mean VOC Values

,max,min,mean,median
sensor.name,,,,
Swnphd-ogallala,1209.931571,61.427708,399.434240,423.082292
FCHD-YPS,856.012625,54.998000,372.462720,375.383500
Three Rivers Public Health Department,741.876042,50.000000,370.216208,376.810167
ELVPHD Norfolk HD 4,884.649000,0.000000,360.833744,368.580500
Swnphd-mccook,849.734917,0.000000,353.941581,381.468479

In [5]:
print('Statistics for highest median VOC Values')
top5_median_voc = (
    air_data_voc.sort_values(by = 'median', ascending = False) #sort_values by any specified column
)

top5_median_voc.head(5)

Statistics for highest median VOC Values

,max,min,mean,median
sensor.name,,,,
Swnphd-ogallala,1209.931571,61.427708,399.434240,423.082292
Swnphd-mccook,849.734917,0.000000,353.941581,381.468479
Three Rivers Public Health Department,741.876042,50.000000,370.216208,376.810167
FCHD-YPS,856.012625,54.998000,372.462720,375.383500
ELVPHD Norfolk HD 4,884.649000,0.000000,360.833744,368.580500

In [6]:
air_data_grouped3 = air_data.groupby('sensor.name')
air_data_pm10 = air_data_grouped3.agg(max = ('pm10.0_atm', 'max'),
                                                    min = ('pm10.0_atm', 'min'),
                                                    mean = ('pm10.0_atm', 'mean'),
                                                    median = ('pm10.0_atm', 'median'))
print('Statistics for highest mean PM 10.0 Values')
top5_mean_pm10 = (
    air_data_pm10.sort_values(by = 'mean', ascending = False) #sort_values by any specified column
)

top5_mean_pm10.head(5)

Statistics for highest mean PM 10.0 Values

,max,min,mean,median
sensor.name,,,,
Broken Bow,3206.779708,0.089917,929.678512,43.179094
#16 - Richardson County Courthouse,3784.682542,0.473583,701.632446,13.305615
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,614.227248,11.433729
NCDHD O'Neill #11,2079.294479,0.291667,166.132578,8.427437
Swnphd-mccook,3054.484250,0.169167,124.227336,5.372073

In [7]:
print('Statistics for highest median PM 10.0 Values')
top5_median_pm10 = (
    air_data_pm10.sort_values(by = 'median', ascending = False) #sort_values by any specified column
)

top5_median_pm10.head(5)

Statistics for highest median PM 10.0 Values

,max,min,mean,median
sensor.name,,,,
Broken Bow,3206.779708,0.089917,929.678512,43.179094
#16 - Richardson County Courthouse,3784.682542,0.473583,701.632446,13.305615
ELVPHD Norfolk HD 4,95.131583,0.756229,15.969341,11.474708
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,614.227248,11.433729
ELVPHD Wisner HD 5,75.461354,0.698958,14.462116,10.935958

In [8]:
#Request 2
unhealthy_voc = air_data[air_data['voc'] >= 25]
print('Highest VOC Dates')
highest_voc = unhealthy_voc[
    ['date', 'sensor.name', 'voc']
    ].sort_values(by = 'voc', ascending = False)
highest_voc.head(10)

Highest VOC Dates

          date                     sensor.name          voc
2391  06/24/24                 Swnphd-ogallala  1209.931571
4795  10/05/24                  SWNPHD-Imerial  1135.473000
5774  11/23/24                  SWNPHD-Imerial  1041.722000
4948  10/12/24             ELVPHD Norfolk HD 4   884.649000
5024  10/16/24                  SWNPHD-Imerial   871.182000
7884  03/04/25                        FCHD-YPS   856.012625
5832  11/26/24                  SWNPHD-Imerial   851.927667
2634  07/04/24                   Swnphd-mccook   849.734917
8180  03/19/25  TRPHD Dawson Co. Courthouse 25   842.127417
4338  09/14/24             ELVPHD Tekamah HD 3   810.410375

In [9]:
unhealthy_pm25 = air_data[air_data['pm2.5_atm'] >= 25]
print('Highest PM 2.5 Dates')
highest_pm25 = unhealthy_pm25[
    ['date', 'sensor.name', 'pm2.5_atm']
    ].sort_values(by = 'pm2.5_atm', ascending = False)
highest_pm25.head(10)

Highest PM 2.5 Dates

          date                         sensor.name    pm2.5_atm
7561  02/18/25  #16 - Richardson County Courthouse  3782.823313
7583  02/19/25  #16 - Richardson County Courthouse  3401.999333
7605  02/20/25  #16 - Richardson County Courthouse  3243.746646
6962  01/21/25  #16 - Richardson County Courthouse  3209.817146
7572  02/18/25                          Broken Bow  3205.868854
7616  02/20/25                          Broken Bow  3179.970687
7594  02/19/25                          Broken Bow  3178.763917
6952  01/20/25                          Broken Bow  3087.149167
7429  02/12/25  #16 - Richardson County Courthouse  3079.773604
7573  02/18/25                       Swnphd-mccook  3053.114292

In [10]:
unhealthy_pm10 = air_data[air_data['pm10.0_atm'] >= 25]
print('Highest PM 10.0 Dates')
highest_pm10 = unhealthy_pm10[
    ['date', 'sensor.name', 'pm10.0_atm']
    ].sort_values(by = 'pm10.0_atm', ascending = False)
highest_pm10.head(10)

Highest PM 10.0 Dates

          date                         sensor.name   pm10.0_atm
7561  02/18/25  #16 - Richardson County Courthouse  3784.682542
7583  02/19/25  #16 - Richardson County Courthouse  3403.435958
7605  02/20/25  #16 - Richardson County Courthouse  3245.613354
6962  01/21/25  #16 - Richardson County Courthouse  3211.046813
7572  02/18/25                          Broken Bow  3206.779708
7616  02/20/25                          Broken Bow  3182.551396
7594  02/19/25                          Broken Bow  3179.655896
6952  01/20/25                          Broken Bow  3088.053896
7429  02/12/25  #16 - Richardson County Courthouse  3081.850688
7573  02/18/25                       Swnphd-mccook  3054.484250

In [11]:
#Request 3
def assign_temp(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 51 <= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot'

air_data['temperature_level'] = air_data['temperature'].apply(assign_temp) #the input to my assign temp will be the data column temperature
air_data.head(5)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm

In [12]:
def assign_humid(humidity):
    if humidity < 50:
        return 'Low Humidity'
    elif 50 <= humidity <= 80:
        return 'High Humidity'
    else:
        return 'Very High Humidity'

air_data['humidity_level'] = air_data['humidity'].apply(assign_humid) #the input to my assign temp will be the data column temperature
air_data.head(5)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot,Low Humidity
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low Humidity
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm,Low Humidity

In [13]:
#Request 4
def aqi_index(quality):
    if quality <= 50:
        return 'Good'
    elif 51 <= quality <= 100:
        return 'Moderate'
    elif 101 <= quality <= 150:
        return 'Unhealthy for Sensitive Groups'
    elif 151 <= quality <= 200:
        return 'Unhealthy'
    elif 201 <= quality <= 300:
        return 'Very Unhealthy'
    else:
        return 'Hazardous'

def assign_temp(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 51 <= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot'

air_data['temperature_level'] = air_data['temperature'].apply(assign_temp)
air_data['aqi_level'] = air_data['pm2.5_atm'].apply(aqi_index) 
air_data_unhealthy_sg = air_data[air_data['aqi_level'] == 'Unhealthy for Sensitive Groups'
]
air_data_unhealthy_sg

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level,aqi_level
4642,09/27/24,195362,33.660083,928.625958,79.009458,134.339083,0.0,2.604167,139.757417,140.511396,141.500146,41.396297,-99.645035,2582,Broken Bow,Hot,Low Humidity,Unhealthy for Sensitive Groups
4663,09/28/24,195362,34.977708,932.222250,77.815333,162.830750,0.0,2.725000,146.750458,147.562375,148.703396,41.396297,-99.645035,2582,Broken Bow,Hot,Low Humidity,Unhealthy for Sensitive Groups

In [14]:
air_data['temperature_level'] = air_data['temperature'].apply(assign_temp)
air_data_unhealthy = air_data[air_data['aqi_level'] == 'Unhealthy'
]
air_data_unhealthy

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level,aqi_level
2443,06/27/24,195089,37.042250,907.131625,90.093000,430.016958,0.050000,2.333333,187.669333,188.156771,188.977500,40.050922,-101.53357,3005,Swnphd-Benklemen,Hot,Low Humidity,Unhealthy
4285,09/11/24,195541,24.108292,899.803875,86.356917,429.933125,0.019208,7.795833,151.416896,153.471958,154.910438,41.128284,-101.72022,3220,Swnphd-ogallala,Hot,Low Humidity,Unhealthy
6076,12/08/24,195317,NaN,NaN,NaN,NaN,0.060000,5.670833,196.998833,198.986375,200.798396,40.062200,-95.60240,1023,#16 - Richardson County Courthouse,Hot,Very High Humidity,Unhealthy

In [15]:
air_data['temperature_level'] = air_data['temperature'].apply(assign_temp)
air_data_very_unhealthy = air_data[air_data['aqi_level'] == 'Very Unhealthy'
]
air_data_very_unhealthy

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level,aqi_level
2144,06/14/24,195383,28.215333,941.437667,86.294792,504.586833,0.05,1.616667,229.848167,230.482438,231.757021,41.779380,-99.138040,2174,Loup Basin Public Health Department,Hot,Low Humidity,Very Unhealthy
4684,09/29/24,195362,32.317958,932.283500,76.016708,192.280458,0.00,3.762500,260.494375,262.016729,264.340688,41.396297,-99.645035,2582,Broken Bow,Hot,Low Humidity,Very Unhealthy
5996,12/04/24,195317,NaN,NaN,NaN,NaN,0.06,6.225000,255.953833,259.240479,261.677250,40.062200,-95.602400,1023,#16 - Richardson County Courthouse,Hot,Very High Humidity,Very Unhealthy

In [16]:
air_data['temperature_level'] = air_data['temperature'].apply(assign_temp)
air_data_hazardous = air_data[air_data['aqi_level'] == 'Hazardous'
]
air_data_hazardous

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level,aqi_level
1351,05/14/24,195343,33.590333,956.235417,72.873583,216.771875,0.000333,39.070833,33.963292,50.918271,60.703125,42.033070,-97.408394,1522,ELVPHD Norfolk HD 4,Hot,Low Humidity,Hazardous
2092,06/12/24,195379,35.066167,953.189458,89.065292,331.579875,0.000000,6.337500,362.307083,363.201104,364.240104,40.877007,-97.579445,1639,FCHD-YPS,Hot,Low Humidity,Hazardous
3016,07/20/24,195317,44.673667,983.181875,84.136125,79.795083,0.058292,14.795833,1163.433833,1164.533750,1165.022417,40.062200,-95.602400,1023,#16 - Richardson County Courthouse,Hot,Low Humidity,Hazardous
3041,07/21/24,195317,43.666292,984.257750,86.183917,90.373917,0.057500,17.800000,1354.655896,1355.784542,1356.120563,40.062200,-95.602400,1023,#16 - Richardson County Courthouse,Hot,Low Humidity,Hazardous
3216,07/28/24,195317,45.215792,975.984333,88.840083,81.460875,0.055500,23.104167,653.471292,659.417417,661.886021,40.062200,-95.602400,1023,#16 - Richardson County Courthouse,Hot,Low Humidity,Hazardous
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,03/23/25,195365,0.000000,917.259000,41.000000,0.000000,0.000000,0.316667,981.894229,981.919875,982.185500,40.200330,-100.639885,2576,Swnphd-mccook,Cool,Low Humidity,Hazardous
8291,03/24/25,195349,27.372333,973.522667,61.422125,516.558667,0.020000,6.920833,1692.075125,1692.498333,1692.793896,40.368360,-96.196014,1143,#18 - Southeast District Health Department- Te...,Warm,Low Humidity,Hazardous
8293,03/24/25,195361,31.054250,942.125625,55.523708,427.780083,0.040000,1.029167,1714.103313,1714.236813,1714.360500,42.457850,-98.646736,1990,NCDHD O'Neill #11,Warm,Low Humidity,Hazardous
8294,03/24/25,195362,30.698708,926.723667,54.733417,426.716375,0.000000,0.995833,1713.678000,1713.840375,1713.964083,41.396297,-99.645035,2582,Broken Bow,Warm,Low Humidity,Hazardous
8295,03/24/25,195365,0.000000,917.259000,41.000000,0.000000,0.000000,0.475000,563.214896,563.337313,564.363833,40.200330,-100.639885,2576,Swnphd-mccook,Cool,Low Humidity,Hazardous